# Bundler cache
.bundle
vendor
Gemfile.lock

# Cache
.jekyll-cache
.jekyll-metadata
.ruff_cache
__pycache__
# _site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# Custom
**/.DS_Store
*.old
desktop.ini
*.bat
NOTE
/tmp.md
.env
style_guide/output/*
